<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>Olumiant - (baricitinib) tablets</title>

    <!-- Setting the right viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="description" content="Olumiant treats RA patients who insufficiently or intolerantly respond to conventional DMARDs. Sign up for an e-learning experience to view clinical data!" />
    <meta name="keywords" content="Olumiant, baricitinib, JAK inhibitor, JAK 1, JAK 2, rheumatoid arthritis, RA treatment, e-learning, methotrexate, mtx, DMARD" />
    <meta name="robots" content="noarchive">
    <meta name="robots" content="Index, Follow" />
	
	<base href="/">

    <script src="scripts/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/custom-janrain.css" type="text/css">
    <script src="scripts/janrain-init.js"></script> 
    <script src="https://eucookie.xh1.lilly.com/Scripts/EUCookiesScript.js"></script> 

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="img/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="img/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="img/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="img/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="img/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="img/favicon/mstile-310x310.png" />


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{gtmContainerId}}');</script>
    <!-- End Google Tag Manager -->
	<script src="//widget.xh2.lilly.com/survey/feedback.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="//widget.xh2.lilly.com/survey/feedback.css">
	<script>LaunchLillyFeedbackButton( 'uk' );</script>
</head>
<body>
	<!-- Cookie Banner Added -->
    <script>
        cookiesDirective(121,'UK');
        $('body').click(function(){
            $('#epd').hide();
        });
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{gtmContainerId}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="app">Loading...</div>

    <script src="js/bundle.js"></script>
</body>
</html>